
<div id= "follow_form_<%=user.id %>">
  <!-- 現在ログインしているユーザーがフォローしていない場合　フォローボタン表示-->
  <% unless current_user.following?(user) %>
    <!-- フォーム作成 ajax化をON-->
    <%= form_for(current_user.relationships.build(followed_id: user.id),remote: true) do |f| %>
      <%= f.hidden_field :followed_id %>
      <%= f.submit "フォロー", class: "btn btn-large btn-info" %>
    <% end %>
  <!-- フォローしている場合 アンフォローボタン表示-->
  <% else %>
    <%= form_for(current_user.relationships.find_by(followed_id: user.id),html:{method: :delete},remote: true) do |f| %>
      <%= f.submit "アンフォロー",class: "btn btn-info btn-large" %>
    <% end %>
  <% end %>
</div>
